/* @import statement at the very top */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");


:root {
    --button-color: #473D3A;
    --secondary-color: #B25E39;

    /* Text Color */
    --primarytext-color: black;
    --secondarytext-color: #F3F3F3;
    --headerfooter-color: #E5A13E;

    --heading-font: "Playfair Display", serif;
    --paragraph-font: 'PT Serif', serif;
}

* {
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 0;
    font-family: var(--heading-font);
    color: black;
}

.header-content {
    position: relative;
    text-align: center;
}

.header-content h1 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.header-content h1::before,
.header-content h1::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 1px;
    background-color: #000;
}

.header-content h1::before {
    left: 100%;
}

.header-content h1::after {
    right: 100%;
}

h1 {
    color: black;
}

h1:hover {
    text-decoration: underline;
    transform: scale(1.2);
    color: #FFF;
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

h1 a:visited {
    color: black;
}

h1 a {
    text-decoration: none;
    color: black
}



h1 a:hover {
    color: #FFF;
}


h1 a:visited {
    text-decoration: none;
    color: black;
}




/* FOOTER */

footer {
    background: var(--headerfooter-color);
    padding-bottom: 0rem;
}

footer p {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0.25rem;
}