header h1 {
    text-align: center;
}

body {
    display: block;
    margin: 0 auto;
    width: 400px;
}

img {
    width: 400px;
    height: 600px;
}





/* footer */

footer {
    background: var(--primary-color);
    padding-bottom: 0rem;
}

footer p {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0.25rem;
}

.modified {
    color: rgb(134, 71, 71);
}